# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.opensdf
*.tlog
*.bi
*.lastbuildstate
*.manifest
*.metagen
*.pdb
*.ilk
*.log
*.ipch
*.cache
*.suo
TestFileSystemWatcher/obj/
TestFileSystemWatcher/bin/
packages/
*.map
VisualStudio2015_Debug/
VisualStudio2015_Release/
